{% extends "base.html" %}
{% block content %}
{% if ticker_list %}
    <h1>Stock holdings:</h1>
    {% for ticker in ticker_list %}
        <p>{{ ticker }}: {{ portfolio_dict[ticker] }}</p>
    {% endfor %}
{% else %}
    <p>Start by adding your first holding!</p>
{% endif %}

    <h1>Enter your stock holdings:</h1>
    <form method="POST" action="/">
        {{ ticker_form.hidden_tag() }}
        {{ ticker_form.ticker.label }} {{ ticker_form.ticker }}
        {{ ticker_form.quantity.label }} {{ ticker_form.quantity }}
        {{ ticker_form.date_purchased.label }} {{ ticker_form.date_purchased }}
        {{ ticker_form.date_sold.label }} {{ ticker_form.date_sold }}
        {{ ticker_form.submit() }}
    </form>
    <form method="POST" action="/portfolio">
        {{ portfolio_form.hidden_tag() }}
        {{ portfolio_form.submit() }}
    </form>
{% endblock %}
